{% extends "base.html" %}

{% block content %}
<br><br>
<div class="container">
    <!-- Project Description -->
    <div class="row align-items-center">
        <h1>Predicting Water Temperature</h1>
        Predicting water temperature at Ohio Street Beach in the fall of 2015, based on data collected by the city of Chicago during the summer of 2015.
    </div>
    <br>

    <!-- Project -->
    <div class="row align-items-center">
        <h3>Ohio Street Beach Water Temperature 2015 (Celsius)</h3>
        <img src="{{url_for('static', filename='water_temp_pred_plot.svg')}}"/>
    </div>
    <br>
    <div class="row align-items-center">
        <h2>Water Temperature Dataset</h2>
        <p id="water_temp_dataset_description">
            I downloaded the "Beach_Water_Quality - Automated_Sensors" dataset from the <a href="https://data.cityofchicago.org/">City of Chicago Data Portal</a>. 
            The dataset included sensor readings from several locations, but I chose to use "Ohio Street Beach" for a time series prediction, as this location had the most amount of sensor data.
        </p>

        <button class="btn btn-outline-success my-2 my-sm-0" onclick="">Load Dataset</button>

        <div></div>
        <br><br><br><br>

        <table style="width:100%" id="ohio_street_water_temp_dataset">
            <tr>
                <th>Water Temperature</th>
                <th>Measurement Timestamp</th>
            </tr>
            <tr>
                <td>TODO</td>
                <td>TODO</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
